language: c
matrix:
  include:
    - os: linux
      env: ARCHIVE=https://opendylan.org/downloads/opendylan/2019.1/opendylan-2019.1-x86_64-linux.tar.bz2
    - os: osx
      env: ARCHIVE=https://opendylan.org/downloads/opendylan/2019.1/opendylan-2019.1-x86_64-darwin.tar.bz2
addons:
  apt:
    packages:
    - libgc-dev
 
before_install:
  - if [[ $TRAVIS_OS_NAME == 'osx' ]]; then brew install bdw-gc; fi
  - curl $ARCHIVE | tar -C $HOME -jxf -
  - export PATH=$HOME/opendylan-2019.1/bin:$PATH

script:
  - make run
